<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.wolframalpha</string>
	<key>connections</key>
	<dict>
		<key>278E98A3-F44C-47C0-AAF9-768F443F978B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D76F5BAB-92C1-4F49-B35A-50377540E245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2CB52E2D-65D9-42BC-8C4E-E753106A7495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBDADA87-F345-4CD3-BE34-B8B89D883058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>458D1887-0EEA-4B8D-9EEC-DD1D5467357B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96BA4AA0-8D88-4011-B172-CCCB8481FF0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>101A4527-6299-46BC-BCDA-7FB0F8575AD1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96BA4AA0-8D88-4011-B172-CCCB8481FF0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>748DF497-1936-4BA6-8B68-A6EC3F20063D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D76F5BAB-92C1-4F49-B35A-50377540E245</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CB52E2D-65D9-42BC-8C4E-E753106A7495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBDADA87-F345-4CD3-BE34-B8B89D883058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>458D1887-0EEA-4B8D-9EEC-DD1D5467357B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Query the WolframAlpha answer engine</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WolframAlpha</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>2CB52E2D-65D9-42BC-8C4E-E753106A7495</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>wolframalpha-simple</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Contacting API…</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>EBDADA87-F345-4CD3-BE34-B8B89D883058</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:query_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>278E98A3-F44C-47C0-AAF9-768F443F978B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Applications/Preview.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>748DF497-1936-4BA6-8B68-A6EC3F20063D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:target_img}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Continue</string>
						<key>uid</key>
						<string>101A4527-6299-46BC-BCDA-7FB0F8575AD1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>458D1887-0EEA-4B8D-9EEC-DD1D5467357B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:target_img}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96BA4AA0-8D88-4011-B172-CCCB8481FF0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>original_query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D76F5BAB-92C1-4F49-B35A-50377540E245</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Setup

1. Create a [Wolfram Alpha account](https://account.wolfram.com/login/create) and sign in to the [Developer Portal](https://developer.wolframalpha.com).
2. Click `Get an App ID`.
3. Use any `Name` and `Description` you see fit, pick the `Simple API`, and Submit.
4. Copy the `App ID` and add it to the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).
5. Be patient, as it may take a few minutes for newly created API keys to begin working.

## Usage

Query [Wolfram|Alpha](https://www.wolframalpha.com) via the `wa` keyword.

![Asking a question](images/about/keyword.png)

![Response](images/about/textview.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open result image in Preview.</string>
	<key>uidata</key>
	<dict>
		<key>278E98A3-F44C-47C0-AAF9-768F443F978B</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>2CB52E2D-65D9-42BC-8C4E-E753106A7495</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>458D1887-0EEA-4B8D-9EEC-DD1D5467357B</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>748DF497-1936-4BA6-8B68-A6EC3F20063D</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>96BA4AA0-8D88-4011-B172-CCCB8481FF0F</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>D76F5BAB-92C1-4F49-B35A-50377540E245</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>EBDADA87-F345-4CD3-BE34-B8B89D883058</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Query Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>query_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>metric</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Metric</string>
						<string>metric</string>
					</array>
					<array>
						<string>Imperial</string>
						<string>imperial</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Units</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>unit_type</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get it at https://developer.wolframalpha.com/</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/wolframalpha-workflow/</string>
</dict>
</plist>
